In [470]:
import pyecharts
print()
print(pyecharts.__version__)

1.6.2

[简介 - pyecharts - A Python Echarts Plotting Library](http://pyecharts.org/#/zh-cn/intro)

[快速开始 - pyecharts - A Python Echarts Plotting Library](http://pyecharts.org/#/zh-cn/quickstart)

Note: 在使用 Pandas&Numpy 时，请确保将数值类型转换为 python 原生的 int/float。比如整数类型请确保为 int，而不是 numpy.int32

In [651]:
# 导入模块
import os
import pandas as pd
import re
import datetime
from pandas import Series,DataFrame
import numpy as np
import random

import pyecharts
from pyecharts.faker import Faker
from pyecharts import charts, commons, components, datasets, options, render, scaffold
from pyecharts import options as opts
from pyecharts.charts import Bar,Line,Timeline,Pie, EffectScatter, Grid,Tab,Page,HeatMap
from pyecharts.components import Table
from pyecharts.charts import Geo
from pyecharts.globals import ChartType, SymbolType

In [472]:
# 查看pyecharts.options方法、属性
dir(pyecharts.options)[:5]

['AngleAxisItem',
 'AngleAxisOpts',
 'AnimationOpts',
 'AreaStyleOpts',
 'Axis3DOpts']

In [473]:
pwd # 查看当前路径

'C:\\Users\\workspace\\水文数据'

In [474]:
# 查看当前目录下的文件目录树
for e0 in os.listdir():
    
    if os.path.isdir(e0):
        print("###文件夹：",e0)
        for e1 in os.listdir(e0):
            print(e1)
    else:
        print("---文件---：",e0)

###文件夹： .ipynb_checkpoints
echarts-checkpoint.ipynb
水文库-checkpoint.ipynb
###文件夹： data
2014-2016宜兴水文站水质数据.xls
2017宜兴水文水质资料.xls
~$水质数据分析.docx
水文水质数据分析.docx
###文件夹： echarts示例
.ipynb_checkpoints
bar_datazoom_slider.html
DraggablePageLayout.html
echarts.ipynb
image_base.html
line_markpoint.html
pie_rosetype.html
SimplePageLayout.html
table_base.html
theme_default.html
timeline_bar.html
timeline_bar_reversal.html
timeline_bar_with_graphic.html
timeline_bmap.html
timeline_map.html
timeline_pie.html
timeline_sankey.html
主题类型.html
选项卡多图Tab.html
顺序多图grid_mutil_yaxis.html
顺序多图page.html
###文件夹： html
入境断面水质-桥-质.html
南仓河 宜兴站每月平均流量months.html
南仓河 宜兴站每月每日平均流量manthsdays.html
南仓河 宜兴站降雨蒸发水位manths.html
南仓河每月降雨量monthsdays.html
城东港 城东港桥站月平均流量months.html
城东港桥每月每日平均流量monthsdays.html
钟溪大桥入境heatmap.html
钟溪大桥出境断面流量heatmap.html
---文件---： page.html
###文件夹： raw水文数据
2014-2016宜兴水文站水质数据.xls
2017宜兴水文水质资料.xls
~$水质数据分析.docx
水文水质数据分析.docx
---文件---： tab.html
---文件---： 水文库.ipynb

# 2017宜兴水文水质资料

In [475]:
XMonths = ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"]

In [476]:
days = [str(i) for i in list(range(1, 32))]

In [477]:
# 数字精度
precision = 2

In [478]:
# render后的html路径
html = "C:\\Users\\workspace\\水文数据\\html\\"

# 降雨

## 南仓河  宜兴站逐日降水量表

In [479]:
# 读取excel文件中的sheet-name数据
NcYxRainfall = pd.read_excel("./data/2017宜兴水文水质资料.xls", sheet_name='降雨', index_col=0, header=0, skiprows=3)
NcYxRainfall = NcYxRainfall.drop('Unnamed: 1',axis=1)
# 字段重命名
NcYxRainfall = NcYxRainfall.rename(columns={'Unnamed: 2':'一月','Unnamed: 3':'二月','Unnamed: 4':'三月','Unnamed: 5':'四月',
                   'Unnamed: 6':'五月','Unnamed: 7':'六月','Unnamed: 8':'七月','Unnamed: 9':'八月',
                   'Unnamed: 10':'九月','Unnamed: 11':'十月','Unnamed: 12':'十一月','Unnamed: 13':'十二月',})
NcYxRainfall.tail(10)

,一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月
日期,,,,,,,,,,,,
30,NaN,NaN,13.0,NaN,1.8,6.0,1.0,NaN,18.2,NaN,0.2,1.0
31,0.2,NaN,NaN,NaN,21.2,NaN,NaN,0.4,NaN,NaN,NaN,NaN
月 统 计,79.6,32.4,84.8,108.8,101.0,159.0,49.8,150.0,156.2,90.8,32.2,17.8
NaN,9,10,12,12,11,13,9,16,18,11,8,6
NaN,29.4,7.2,19.6,38.8,23.0,55.6,20.0,39.2,28.2,27.0,10.2,7.4
年统计,降 水 量,NaN,1062.4,NaN,NaN,NaN,年降水日数,NaN,135,NaN,NaN,NaN
NaN,时 段(d),NaN,1,NaN,3,NaN,7,NaN,15,NaN,30,NaN
NaN,最大降水量,NaN,55.6,NaN,90.0,NaN,114.4,NaN,160.8,NaN,216.4,NaN
NaN,开始日期,NaN,6 月 ─ 9 日,NaN,6 月 ─ 9 日,NaN,6 月 ─ 5 日,NaN,9 月 ─ 19 日,NaN,9 月 ─ 19 日,NaN
附 注,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [480]:
NcYxRainfall = NcYxRainfall.head(31).astype('float64')

In [481]:
NcYxRainfall = NcYxRainfall.fillna(0)
NcYxRainfall = NcYxRainfall.round(precision)
NcYxRainfall.head()

      一月   二月   三月   四月    五月    六月    七月   八月   九月    十月  十一月  十二月
日期
1    0.0  0.0  0.0  0.0  22.0   0.0   4.0  0.0  0.0  18.0  0.0  0.0
2    0.0  0.0  0.0  0.0   7.0   0.0  20.5  0.0  0.0  10.0  0.0  0.0
3    0.0  5.5  0.0  0.0   8.0   0.0   1.0  0.5  0.5   4.0  0.0  0.0
4   32.5  0.0  6.5  0.5   3.0   0.0   1.0  0.0  0.0   1.0  0.0  0.0
5   15.0  0.0  0.0  3.0   0.0  62.5   0.0  1.0  0.5   1.5  0.0  0.0

In [482]:
NcYxRainfallJanuary = NcYxRainfall["一月"].sum()
NcYxRainfallFebruary = NcYxRainfall["二月"].sum()
NcYxRainfallMarch = NcYxRainfall["三月"].sum()
NcYxRainfallApril = NcYxRainfall["四月"].sum()
NcYxRainfallMay = NcYxRainfall["五月"].sum()
NcYxRainfallJune = NcYxRainfall["六月"].sum()
NcYxRainfallJuly = NcYxRainfall["七月"].sum()
NcYxRainfallAugust = NcYxRainfall["八月"].sum()
NcYxRainfallSeptember = NcYxRainfall["九月"].sum()
NcYxRainfallOctober = NcYxRainfall["十月"].sum()
NcYxRainfallNovember = NcYxRainfall["十一月"].sum()
NcYxRainfallDecember = NcYxRainfall["十二月"].sum()

In [483]:
NcYxRainfallmonths = [NcYxRainfallJanuary, NcYxRainfallFebruary, 
                      NcYxRainfallMarch, NcYxRainfallApril, NcYxRainfallMay, 
                      NcYxRainfallJune, NcYxRainfallJuly, NcYxRainfallAugust,
                      NcYxRainfallSeptember, NcYxRainfallOctober,
                      NcYxRainfallNovember, NcYxRainfallDecember]

In [484]:
# NcYxRainfallmonths 数字保留两位小数
NcYxRainfallmonths = [e.round(2) for e in NcYxRainfallmonths]
NcYxRainfallmonths

[81.0, 26.0, 88.5, 109.0, 94.0, 195.0, 52.5, 186.0, 213.5, 97.5, 33.0, 20.0]

# 蒸发

## 南仓河  宜兴站逐日水面蒸发量表

In [485]:
NcYxEvaporation = pd.read_excel("./data/2017宜兴水文水质资料.xls", sheet_name='蒸发', index_col=0, header=0, skiprows=3)
NcYxEvaporation = NcYxEvaporation.drop('Unnamed: 1',axis=1)
NcYxEvaporation = NcYxEvaporation.rename(columns={'Unnamed: 2':'一月','Unnamed: 3':'二月','Unnamed: 4':'三月','Unnamed: 5':'四月',
                   'Unnamed: 6':'五月','Unnamed: 7':'六月','Unnamed: 8':'七月','Unnamed: 9':'八月',
                   'Unnamed: 10':'九月','Unnamed: 11':'十月','Unnamed: 12':'十一月','Unnamed: 13':'十二月',})
NcYxEvaporation.tail(10)

,一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月
日期,,,,,,,,,,,,
28,1.1,2.7,2.1,5.2,6.0,2.0,7.0,5.2,2.1,2.2,0.3,0.1
29,1.8,NaN,1.9,4.2,5.9,2.4,6.8,4.5,1.5,2.9,1.0,0.0
30,2.0,NaN,0.9,5.1,2.6,2.4,5.4,3.9,0.7,2.5,1.6,1.0
31,1.6,NaN,2.2,NaN,3.1,NaN,7.0,3.0,NaN,1.6,NaN,1.2
月 统 计,33.2,40.5,56.4,90.2,105.1,87.3,133.3,121.4,69.1,60.6,45.4,35.7
NaN,2.2,2.7,3.1,5.2,6.0,6.2,7.0,5.5,5.1,3.1,2.9,2.2
NaN,0.1,0.3,0.1,0.4,1.1,0.7,0.2,1.6,0.3,0.7,0.3,0.0
年统计,水面蒸发量: 878.2,NaN,NaN,最大日水面蒸发量: 7.0 7月28日,NaN,NaN,NaN,最小日水面蒸发量: 0.0 12月13日,NaN,NaN,NaN,NaN
NaN,终 冰:,NaN,NaN,NaN,NaN,NaN,初 冰:,NaN,NaN,NaN,NaN,NaN
附 注,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [486]:
# NcYxEvaporation 前31行的数据转换为float
NcYxEvaporation = NcYxEvaporation.head(31).astype('float64')

In [487]:
# 数据为NaN的用数字0填充
NcYxEvaporation = NcYxEvaporation.fillna(0)
# 两位小数
NcYxEvaporation = NcYxEvaporation.round(2)
NcYxEvaporation.head()

     一月   二月   三月   四月   五月   六月   七月   八月   九月   十月  十一月  十二月
日期
1   0.5  1.2  3.1  2.8  2.7  3.6  0.2  5.0  3.5  0.7  1.7  1.3
2   0.3  0.4  2.8  3.2  3.5  3.0  2.8  3.0  2.6  1.5  1.6  1.0
3   0.4  1.0  2.5  4.3  1.5  6.1  2.8  2.6  1.8  2.7  2.9  0.7
4   0.2  0.3  1.1  2.7  1.1  6.2  2.2  4.7  1.9  3.1  2.4  1.5
5   0.6  1.1  1.9  2.6  1.7  3.5  3.0  4.8  2.3  1.5  2.1  2.2

In [488]:
# 每月的数据求和
NcYxEvaporationJanuary = NcYxEvaporation["一月"].sum()
NcYxEvaporationFebruary = NcYxEvaporation["二月"].sum()
NcYxEvaporationMarch = NcYxEvaporation["三月"].sum()
NcYxEvaporationApril = NcYxEvaporation["四月"].sum()
NcYxEvaporationMay = NcYxEvaporation["五月"].sum()
NcYxEvaporationJune = NcYxEvaporation["六月"].sum()
NcYxEvaporationJuly = NcYxEvaporation["七月"].sum()
NcYxEvaporationAugust = NcYxEvaporation["八月"].sum()
NcYxEvaporationSeptember = NcYxEvaporation["九月"].sum()
NcYxEvaporationOctober = NcYxEvaporation["十月"].sum()
NcYxEvaporationNovember = NcYxEvaporation["十一月"].sum()
NcYxEvaporationDecember = NcYxEvaporation["十二月"].sum()

In [489]:
# 1-12月的数据存储到NcYxEvaporationmonths列表
NcYxEvaporationmonths = [NcYxEvaporationJanuary, NcYxEvaporationFebruary, 
                      NcYxEvaporationMarch, NcYxEvaporationApril, NcYxEvaporationMay, 
                      NcYxEvaporationJune, NcYxEvaporationJuly, NcYxEvaporationAugust,
                      NcYxEvaporationSeptember, NcYxEvaporationOctober,
                      NcYxEvaporationNovember, NcYxEvaporationDecember]

In [490]:
NcYxEvaporationmonths = [e.round(2) for e in NcYxEvaporationmonths]
NcYxEvaporationmonths

[33.2, 40.5, 56.4, 90.2, 105.1, 87.3, 133.3, 121.4, 69.1, 60.6, 45.4, 35.7]

# 水位

## 西氿  宜兴(西)站逐日平均水位表

In [491]:
XgYxWaterlevel = pd.read_excel("./data/2017宜兴水文水质资料.xls", sheet_name='水位', index_col=0, header=0, skiprows=4)

In [492]:
XgYxWaterlevel = XgYxWaterlevel.drop('Unnamed: 1',axis=1)
XgYxWaterlevel = XgYxWaterlevel.rename(columns={'Unnamed: 2':'一月','Unnamed: 3':'二月','Unnamed: 4':'三月','Unnamed: 5':'四月',
                   'Unnamed: 6':'五月','Unnamed: 7':'六月','Unnamed: 8':'七月','Unnamed: 9':'八月',
                   'Unnamed: 10':'九月','Unnamed: 11':'十月','Unnamed: 12':'十一月','Unnamed: 13':'十二月',})
XgYxWaterlevel.tail(10)

,一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月
日期,,,,,,,,,,,,
月 统 计,3.27,3.02,2.97,3.14,3.12,3.28,3.35,3.21,3.26,3.45,3.27,3.05
NaN,3.40,3.19,3.18,3.29,3.41,3.46,3.59,3.46,3.62,3.57,3.42,3.23
NaN,13,2,22,13,2,28,5,1,30,1,1,1
NaN,3.02,2.78,2.73,2.94,2.90,3.01,3.17,2.95,3.12,3.28,3.13,2.76
NaN,29,22,1,1,9,6,29,7,16,11,18,24
年统计,最高水位：3.62 9 月 30 日,NaN,NaN,NaN,最低水位：2.73 3 月 1 日,NaN,NaN,NaN,平均水位：3.20,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,保证率 水 位,最 高,NaN,第15天 第30天 第90天 ...,NaN,NaN,NaN,NaN,NaN,NaN,最 低,NaN
NaN,NaN,3.58,NaN,3.47,3.44,NaN,3.33,3.20,NaN,3.10,2.84,NaN
附 注,1月1日至8月21日采用原基本断面资料整编，8月22日至12月31日采用新断面(东北向迁移9...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [493]:
XgYxWaterlevel = XgYxWaterlevel.head(31).astype('float64')

In [494]:
XgYxWaterlevel = XgYxWaterlevel.fillna(0)
XgYxWaterlevel = XgYxWaterlevel.round(2)
XgYxWaterlevel.head()

,一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月
日期,,,,,,,,,,,,
1,3.25,3.12,2.93,3.04,3.14,3.07,3.4,3.32,3.28,3.69,3.35,3.16
2,24.00,11.00,87.00,4.00,22.00,8.00,49.0,29.00,27.00,65.00,34.00,16.00
3,23.00,11.00,92.00,7.00,25.00,9.00,56.0,25.00,27.00,66.00,34.00,14.00
4,22.00,9.00,92.00,10.00,25.00,10.00,55.0,22.00,27.00,63.00,33.00,12.00
5,30.00,7.00,91.00,9.00,18.00,19.00,53.0,20.00,24.00,60.00,35.00,12.00

In [495]:
XgYxWaterlevelJanuary = XgYxWaterlevel["一月"].sum()
XgYxWaterlevelFebruary = XgYxWaterlevel["二月"].sum()
XgYxWaterlevelMarch = XgYxWaterlevel["三月"].sum()
XgYxWaterlevelApril = XgYxWaterlevel["四月"].sum()
XgYxWaterlevelMay = XgYxWaterlevel["五月"].sum()
XgYxWaterlevelJune = XgYxWaterlevel["六月"].sum()
XgYxWaterlevelJuly = XgYxWaterlevel["七月"].sum()
XgYxWaterlevelAugust = XgYxWaterlevel["八月"].sum()
XgYxWaterlevelSeptember = XgYxWaterlevel["九月"].sum()
XgYxWaterlevelOctober = XgYxWaterlevel["十月"].sum()
XgYxWaterlevelNovember = XgYxWaterlevel["十一月"].sum()
XgYxWaterlevelDecember = XgYxWaterlevel["十二月"].sum()

In [496]:
XgYxWaterlevelmonths = [XgYxWaterlevelJanuary, XgYxWaterlevelFebruary, 
                      XgYxWaterlevelMarch, XgYxWaterlevelApril, XgYxWaterlevelMay, 
                      XgYxWaterlevelJune, XgYxWaterlevelJuly, XgYxWaterlevelAugust,
                      XgYxWaterlevelSeptember, XgYxWaterlevelOctober,
                      XgYxWaterlevelNovember, XgYxWaterlevelDecember]

In [497]:
XgYxWaterlevelmonths = [e.round(2) for e in XgYxWaterlevelmonths]
# XgYxWaterlevelmonths

# 绘图grid_mutil_yaxis南仓河宜兴站

## months

In [498]:
def grid_mutil_yaxis() -> Grid:
    x_data = ["{}月".format(i) for i in range(1, 13)]
    bar = (
        Bar()
        .add_xaxis(x_data)
        .add_yaxis(
            "蒸发量",
            NcYxEvaporationmonths,
            yaxis_index=0,
            color="#d14a61",
        )
        .add_yaxis(
            "降水量",
            NcYxRainfallmonths,
            yaxis_index=1,
            color="#5793f3",
        )
        .extend_axis(
            yaxis=opts.AxisOpts(
                name="蒸发量",
                type_="value",
                min_=0,
                max_=250,
                position="right",
                axisline_opts=opts.AxisLineOpts(
                    linestyle_opts=opts.LineStyleOpts(color="#d14a61")
                ),
                axislabel_opts=opts.LabelOpts(formatter="{value} mm"),
            )
        )
        .extend_axis(
            yaxis=opts.AxisOpts(
                type_="value",
                name="水位",
                min_=min(XgYxWaterlevelmonths)-50,
                max_=max(XgYxWaterlevelmonths)+50,
                position="left",
                axisline_opts=opts.AxisLineOpts(
                    linestyle_opts=opts.LineStyleOpts(color="#675bba")
                ),
                axislabel_opts=opts.LabelOpts(formatter="{value} m"),
                splitline_opts=opts.SplitLineOpts(
                    is_show=True, linestyle_opts=opts.LineStyleOpts(opacity=1)
                ),
            )
        )
        .set_global_opts(
            yaxis_opts=opts.AxisOpts(
                name="降水量",
                min_=0,
                max_=250,
                position="right",
                offset=80,
                axisline_opts=opts.AxisLineOpts(
                    linestyle_opts=opts.LineStyleOpts(color="#5793f3")
                ),
                axislabel_opts=opts.LabelOpts(formatter="{value} mm"),
            ),
            title_opts=opts.TitleOpts(title="南仓河宜兴站"),
            tooltip_opts=opts.TooltipOpts(trigger="axis", axis_pointer_type="cross"),
        )
    )

    line = (
        Line()
        .add_xaxis(x_data)
        .add_yaxis(
            "水位",
            XgYxWaterlevelmonths,
            yaxis_index=2,
            color="#675bba",
            label_opts=opts.LabelOpts(is_show=False),
        )
    )

    bar.overlap(line)
    return Grid().add(
        bar, opts.GridOpts(pos_left="5%", pos_right="20%"), is_control_axis_index=True
    )
grid_mutil_yaxis().render(html + "南仓河 宜兴站降雨蒸发水位manths.html")

'C:\\Users\\workspace\\水文数据\\html\\南仓河 宜兴站降雨蒸发水位manths.html'

## days

In [499]:
df = pd.read_excel("./data/2017宜兴水文水质资料.xls", sheet_name='降雨', index_col=0, header=0, skiprows=3)
df = df.drop('Unnamed: 1',axis=1)
df = df.rename(columns={'Unnamed: 2':'一月','Unnamed: 3':'二月','Unnamed: 4':'三月','Unnamed: 5':'四月',
                   'Unnamed: 6':'五月','Unnamed: 7':'六月','Unnamed: 8':'七月','Unnamed: 9':'八月',
                   'Unnamed: 10':'九月','Unnamed: 11':'十月','Unnamed: 12':'十一月','Unnamed: 13':'十二月',})
# df.tail(10)

In [500]:
df = df.head(31).astype('float64')

In [501]:
df

      一月   二月    三月    四月    五月    六月    七月    八月    九月    十月   十一月  十二月
日期
1    NaN  NaN   NaN   NaN  22.0   NaN   4.0   NaN   NaN  18.0   NaN  NaN
2    NaN  NaN   NaN   NaN   7.0   NaN  20.5   NaN   NaN  10.0   NaN  NaN
3    NaN  5.5   NaN   NaN   8.0   NaN   1.0   0.5   0.5   4.0   NaN  NaN
4   32.5  NaN   6.5   0.5   3.0   NaN   1.0   NaN   NaN   1.0   NaN  NaN
5   15.0  NaN   NaN   3.0   NaN  62.5   NaN   1.0   0.5   1.5   NaN  NaN
6   19.5  NaN   NaN  14.5   NaN   NaN   NaN   NaN  10.5   NaN   NaN  NaN
7    7.0  4.5   NaN   1.0   4.5   NaN   NaN  16.0   1.5   NaN   NaN  NaN
8    NaN  4.0   NaN  32.0  11.5   NaN   NaN  28.0   NaN   NaN   NaN  NaN
9    NaN  NaN   NaN   7.5   NaN  47.0   2.5   5.0   NaN   NaN   NaN  NaN
10   NaN  NaN   NaN  13.5   NaN  28.5  13.5   NaN  40.0   1.5   NaN  NaN
11   NaN  NaN   NaN   NaN  20.5   4.5   0.5   NaN   2.5   5.0   NaN  NaN
12   NaN  NaN  13.5   NaN   0.5   1.0   NaN  12.0   NaN   4.0   NaN  NaN
13   NaN  NaN  11.0   NaN   NaN   2.0   NaN  13.5   NaN   NaN   5.5  3.0
14   NaN  NaN   NaN   NaN   NaN   NaN   NaN   0.5   0.5   8.5   NaN  1.5
15   NaN  1.0   0.5   NaN   NaN   NaN   NaN  87.5   NaN  28.5   NaN  8.0
16   NaN  NaN   0.5  15.0   NaN   NaN   NaN   4.5   NaN  15.5   2.5  NaN
17   3.0  NaN   0.5   NaN   NaN   NaN   NaN   0.5   NaN   NaN  12.0  NaN
18   3.5  NaN   0.5   NaN   NaN   2.0   NaN   1.5   NaN   NaN   NaN  NaN
19   NaN  NaN  23.0   1.0   NaN  24.5   NaN  11.5  23.0   NaN   1.5  NaN
20   NaN  NaN   2.0   NaN   NaN   NaN   NaN   0.5   4.5   NaN   NaN  NaN
21   NaN  5.5   2.0   NaN   NaN   4.5   NaN   NaN   4.5   NaN  10.0  NaN
22   NaN  5.5   9.5   NaN   NaN   1.5   NaN   NaN   5.0   NaN   NaN  NaN
23   NaN  NaN   1.5   NaN  16.5   2.0   NaN   NaN  28.0   NaN   NaN  NaN
24   NaN  NaN   4.0   NaN   NaN   NaN   NaN   NaN   9.5   NaN   NaN  NaN
25   NaN  NaN   NaN  21.0   NaN   0.5   NaN   2.0  17.0   NaN   NaN  NaN
26   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN  16.5   NaN   NaN  NaN
27   NaN  NaN   NaN   NaN   NaN   1.0   NaN   NaN  14.5   NaN   NaN  NaN
28   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   0.5   NaN   1.5  4.0
29   0.5  NaN   NaN   NaN   NaN   NaN   NaN   NaN   6.5   NaN   NaN  2.5
30   NaN  NaN  13.5   NaN   NaN  13.5   9.5   NaN  28.0   NaN   NaN  1.0
31   NaN  NaN   NaN   NaN   0.5   NaN   NaN   1.5   NaN   NaN   NaN  NaN

In [502]:
df = df.fillna(0)
df = df.round(2)
# datafram格式的数据转换成列表list
January = df["一月"].tolist()
February = df["二月"].tolist()
March = df["三月"].tolist()
April = df["四月"].tolist()
May = df["五月"].tolist()
June = df["六月"].tolist()
July = df["七月"].tolist()
August = df["八月"].tolist()
September = df["九月"].tolist()
October = df["十月"].tolist()
November = df["十一月"].tolist()
December = df["十二月"].tolist()

In [503]:
months = [January, February, 
                      March, April, May, 
                      June, July, August,
                      September, October,
                      November, December]
# months = [e.round(2) for e in months]

In [530]:
def timeline_bar() -> Timeline:
#     x = Faker.choose()
    tl = Timeline()
    for i in range(1, 13):
        bar = (
            Bar()
            .add_xaxis(days)
            .add_yaxis("南仓河  宜兴站每日降雨量", months[i-1])
#             .add_yaxis("商家B", Faker.values())
#             .add_xaxis(days)
            .set_global_opts(title_opts=opts.TitleOpts("南仓河  宜兴站{}月降雨\n 单位：降雨量（mm）".format(i)),
                             xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=360)),
                             yaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(formatter="{value} mm")),)
        )
        tl.add(bar, "{}月".format(i))
    return tl
timeline_bar().render(html + "南仓河每月降雨量monthsdays.html")

'C:\\Users\\workspace\\水文数据\\html\\南仓河每月降雨量monthsdays.html'

def line_markpoint_custom() -> Line:
    x, y = Faker.choose(), Faker.values()
    c = (
        Line()
        .add_xaxis(x)
        .add_yaxis(
            "商家A",
            y,
            markpoint_opts=opts.MarkPointOpts(
                data=[opts.MarkPointItem(name="自定义标记点", coord=[x[2], y[2]], value=y[2])]
            ),
        )
        .set_global_opts(title_opts=opts.TitleOpts(title="Line-MarkPoint（自定义）"))
    )
    
    return c
line_markpoint_custom().render("line_markpoint_custom.html")

# 城区5条河流量

## 南仓河  宜兴(南)站逐日平均流量表

In [505]:
df = pd.read_excel("./data/2017宜兴水文水质资料.xls", sheet_name='城区5条河流量', index_col=0, header=0, skiprows=3)
df = df.drop('Unnamed: 1',axis=1)
df = df.rename(columns={'Unnamed: 2':'一月','Unnamed: 3':'二月','Unnamed: 4':'三月','Unnamed: 5':'四月',
                   'Unnamed: 6':'五月','Unnamed: 7':'六月','Unnamed: 8':'七月','Unnamed: 9':'八月',
                   'Unnamed: 10':'九月','Unnamed: 11':'十月','Unnamed: 12':'十一月','Unnamed: 13':'十二月',})
# df.tail(10)

excel中的部分数据格式9.63N，被空格替换掉了

In [506]:
df = df.head(31).astype('float64')

SumJanuary = df["一月"].sum().round(2)
SumFebruary = df["二月"].sum().round(2)
SumMarch = df["三月"].sum().round(2)
SumApril = df["四月"].sum().round(2)
SumMay = df["五月"].sum().round(2)
SumJune = df["六月"].sum().round(2)
SumJuly = df["七月"].sum().round(2)
SumAugust = df["八月"].sum().round(2)
SumSeptember = df["九月"].sum().round(2)
SumOctober = df["十月"].sum().round(2)
SumNovember = df["十一月"].sum().round(2)
SumDecember = df["十二月"].sum().round(2)

SumMonths = [SumJanuary, SumFebruary, 
                      SumMarch, SumApril, SumMay, 
                      SumJune, SumJuly, SumAugust,
                      SumSeptember, SumOctober,
                      SumNovember, SumDecember]
# SumMonths

In [507]:
df = df.fillna(0)
df = df.round(2)

January = df["一月"].tolist()
February = df["二月"].tolist()
March = df["三月"].tolist()
April = df["四月"].tolist()
May = df["五月"].tolist()
June = df["六月"].tolist()
July = df["七月"].tolist()
August = df["八月"].tolist()
September = df["九月"].tolist()
October = df["十月"].tolist()
November = df["十一月"].tolist()
December = df["十二月"].tolist()

months = [January, February, 
                      March, April, May, 
                      June, July, August,
                      September, October,
                      November, December]
# months = [e.round(2) for e in months]

## 绘图

In [508]:
def NCRbar_base() -> Bar:
    c = (
        Bar()
        .add_xaxis(XMonths)
        .add_yaxis("月平均流量", SumMonths)
#         .add_yaxis("商家B", Faker.values())
        .set_global_opts(title_opts=opts.TitleOpts(title="南仓河  宜兴(南)站\t 单位：月平均流量（m³/s）", subtitle="每月平均流量"))
    )
    return c
NCRbar_base().render(html + "南仓河 宜兴站每月平均流量months.html")

'C:\\Users\\workspace\\水文数据\\html\\南仓河 宜兴站每月平均流量months.html'

In [509]:
def NCRtimeline_bar() -> Timeline:
#     x = Faker.choose()
    tl = Timeline()
    for i in range(1, 13):
        bar = (
            Bar()
            .add_xaxis(days)
            .add_yaxis("日平均流量", months[i-1])
#             .add_yaxis("商家B", Faker.values())
#             .add_xaxis(x)
            .set_global_opts(title_opts=opts.TitleOpts("南仓河  宜兴(南)站{}月逐日平均流量\n 单位：日平均流量（m³/s）".format(i)),
                             xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=360)),
                             yaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(formatter="{value} mm")),)
        )
        tl.add(bar, "{}月".format(i))
    return tl
NCRtimeline_bar().render(html + "南仓河 宜兴站每月每日平均流量manthsdays.html")

'C:\\Users\\workspace\\水文数据\\html\\南仓河 宜兴站每月每日平均流量manthsdays.html'

# 6个基点站流量

1. excel原始字段格式为"一\n月"，我改为了"一月"
2. excel中有的字段读取进来不是NaN也没有数字，不能讲str转换为float，手动在excel将空白处添加数字0，问题解决

In [510]:
df = pd.read_excel("./data/2017宜兴水文水质资料.xls", sheet_name='6个基点站流量', index_col=0, header=0, skiprows=2)

df = df.drop('Unnamed: 1',axis=1)

df = df.rename(columns={'Unnamed: 2':'一月','Unnamed: 3':'二月','Unnamed: 4':'三月','Unnamed: 5':'四月',
                   'Unnamed: 6':'五月','Unnamed: 7':'六月','Unnamed: 8':'七月','Unnamed: 9':'八月',
                   'Unnamed: 10':'九月','Unnamed: 11':'十月','Unnamed: 12':'十一月','Unnamed: 13':'十二月',})
# df.tail(10)
df.head()

# for e in XMonths:
#     df[e] = df[e][:30].astype('float64')

df = df.fillna(0)

df = df.head(31).astype('float64')
df.head(2)

,一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月
月份 日期,,,,,,,,,,,,
1,108.0,83.2,109.0,70.6,33.0,99.2,87.0,122.0,95.1,172.0,59.5,61.9
2,110.0,45.1,56.7,65.6,-60.3,60.0,145.0,118.0,89.1,166.0,74.6,56.8

In [511]:
SumJanuary = df["一月"].sum().round(2)
SumFebruary = df["二月"].sum().round(2)
SumMarch = df["三月"].sum().round(2)
SumApril = df["四月"].sum().round(2)
SumMay = df["五月"].sum().round(2)
SumJune = df["六月"].sum().round(2)
SumJuly = df["七月"].sum().round(2)
SumAugust = df["八月"].sum().round(2)
SumSeptember = df["九月"].sum().round(2)
SumOctober = df["十月"].sum().round(2)
SumNovember = df["十一月"].sum().round(2)
SumDecember = df["十二月"].sum().round(2)

SumMonths = [SumJanuary, SumFebruary, 
                      SumMarch, SumApril, SumMay, 
                      SumJune, SumJuly, SumAugust,
                      SumSeptember, SumOctober,
                      SumNovember, SumDecember]
# SumMonths

In [512]:
January = df["一月"].tolist()
February = df["二月"].tolist()
March = df["三月"].tolist()
April = df["四月"].tolist()
May = df["五月"].tolist()
June = df["六月"].tolist()
July = df["七月"].tolist()
August = df["八月"].tolist()
September = df["九月"].tolist()
October = df["十月"].tolist()
November = df["十一月"].tolist()
December = df["十二月"].tolist()

months = [January, February, 
                      March, April, May, 
                      June, July, August,
                      September, October,
                      November, December]
# months = [e.round(2) for e in months]

## 城东港 城东港桥站逐日平均流量表

## 绘图

In [532]:
def CDGbar_base() -> Bar:
    c = (
        Bar()
        .add_xaxis(XMonths)
        .add_yaxis("城东港桥月平均流量", SumMonths)
#         .add_yaxis("商家B", Faker.values())
        .set_global_opts(title_opts=opts.TitleOpts(title="城东港 城东港桥站\n 单位：月平均流量（m³/s）", ))# subtitle="每月平均流量"
    )
    return c
CDGbar_base().render(html + "城东港 城东港桥站月平均流量months.html")

'C:\\Users\\workspace\\水文数据\\html\\城东港 城东港桥站月平均流量months.html'

In [534]:
def CDGtimeline_bar() -> Timeline:
#     x = Faker.choose()
    tl = Timeline()
    for i in range(1, 13):
        bar = (
            Bar()
            .add_xaxis(days)
            .add_yaxis("城东港桥{}月的日平均流量".format(i), months[i-1])
#             .add_yaxis("商家B", Faker.values())
#             .add_xaxis(x)
            .set_global_opts(title_opts=opts.TitleOpts(title="城东港桥站{}月逐日平均流量\n 日平均流量（m³/s）".format(i)),
                             xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=360)),
                             yaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(formatter="{value} mm")),)
        )
        tl.add(bar, "{}月".format(i))
    return tl
CDGtimeline_bar().render(html + "城东港桥每月每日平均流量monthsdays.html")

'C:\\Users\\workspace\\水文数据\\html\\城东港桥每月每日平均流量monthsdays.html'

# 入境53个断面流量

## 2017年  钟溪大桥站流量与钟溪大桥巡测段总流量关系表(1)

In [515]:
def ZXDQinHeatmap_with_label_show() -> HeatMap:
    df = pd.read_excel("./data/2017宜兴水文水质资料.xls", sheet_name='入境53个断面流量', index_col=0, header=0, skiprows=5)

    # df.head(2)

    # 测试次数 行记录
    ZXDQintestingFrequency = 17
    # df.columns

    df  = df[0:ZXDQintestingFrequency][['Unnamed: 1', 'Unnamed: 2', '起', '迄', '分水大桥','楼村桥','西仓桥', '钟溪大桥',"Unnamed: 9"]]
    # df.head(2)
    # df

    # df = df.drop('Unnamed: 1',axis=1)

    df = df.rename(columns={'Unnamed: 1':'月','Unnamed: 2':'日',"Unnamed: 9":"巡测段总流量"})
    # df.tail(10)
    # df.head()

    # 巡测段总流量 字段的数据文本转换为float 精度2
    df["巡测段总流量"] = df["巡测段总流量"][:ZXDQintestingFrequency].astype('float64').round(precision)

    df = df.fillna(0)
    # NaN前向填充，excel中的空数据0 ffill无效
    # df = df.fillna(method='ffill')
    # df = df.head(17).astype('float64')
    # df.head(2)

    df = df[['分水大桥','楼村桥','西仓桥', '钟溪大桥',"巡测段总流量"]]
    dfColumns = list(df.columns)
    # dfColumns

    # df.head(2)
    # df

    # 字段名称转换为列表 方便画图for循环调用每一个数据
    df.columns = list(range(len(df.columns)))
    # df.head(2)

    # df[1:4][1]

    # 定义y轴标签
    ZXDQintestingFrequencyStr = [str(i) for i in range(1,ZXDQintestingFrequency+1)]

    # [[j, i, df[j][i]] for j in range(5) for i in range(1,testingFrequency)]
    
    #后面从excel读取的数据都存储到df，但是由于在page和tab中调用添加图例的函数，这些具有相同名称的df会有冲突
    #所以把读取文件，处理数据的部分都放入到画图的函数中避免这样的冲突
    ####################################################
    
    value = [[j, i, df[j][i]] for j in range(5) for i in range(1,ZXDQintestingFrequency) ]
    
    c = (
        HeatMap()
        .add_xaxis(dfColumns)
        .add_yaxis("", ZXDQintestingFrequencyStr , value,
                   label_opts=opts.LabelOpts(is_show=True, position="inside"))
        .set_global_opts(
            title_opts=opts.TitleOpts(title="钟溪大桥站入境流量与钟溪大桥巡测段总流量（m³/s）"),
            visualmap_opts=opts.VisualMapOpts(),
        )
    )
    return c
# heatmap_with_label_show().render("钟溪大桥heatmap_with_label_show.html")
ZXDQinHeatmap_with_label_show().render(html + "钟溪大桥入境heatmap.html")

'C:\\Users\\workspace\\水文数据\\html\\钟溪大桥入境heatmap.html'

# 出境24个断面流量

## 2017年   浯溪桥站与巡测段流量关系表

In [516]:
def ZXDQoutHeatmap_with_label_show() -> HeatMap:
    df = pd.read_excel("./data/2017宜兴水文水质资料.xls", sheet_name='出境24个断面流量', index_col=0, header=0, skiprows=4)
    # df.head(2)

    # 查看字段名
    # df.columns

    ZXDQouttestingFrequency = 21

    df  = df[0:ZXDQouttestingFrequency][['Unnamed: 1', 'Unnamed: 2', '起', '迄',
                                    '分水桥','青店里桥','周铁桥', '棉堤桥',
                                    "沙塘港桥", "葛渎桥", "师渎桥", "浯溪桥", "Unnamed: 14" ]]
    # df.head(2)

    # df = df.drop('Unnamed: 1',axis=1)

    df = df.rename(columns={'Unnamed: 1':'月','Unnamed: 2':'日',"Unnamed: 14":"巡测段总流量"})
    # 重置行索引，因为原行索引不连续
    df.index = range(len(df.index))

    # df.tail(10)
    # 读取需要的数据 前testingFrequency行
    df = df.head(ZXDQouttestingFrequency)
    # df

    df = df[[ '分水桥','青店里桥','周铁桥', '棉堤桥',
            "沙塘港桥", "葛渎桥", "师渎桥", "浯溪桥", "巡测段总流量" ]].astype('float64').round(precision)
    ZXDQoutdfColumns = list(df.columns)
    ZXDQoutdfColumns

    # 字段名称转换为列表 方便画图for循环调用每一个数据
    df.columns = list(range(len(df.columns)))
    # df

    # 定义y轴标签
    ZXDQouttestingFrequencyStr = [str(i) for i in range(1,ZXDQouttestingFrequency+1)]
    #后面从excel读取的数据都存储到df，但是由于在page和tab中调用添加图例的函数，这些具有相同名称的df会有冲突
    #所以把读取文件，处理数据的部分都放入到画图的函数中避免这样的冲突
    ####################################################
    value = [[j, i, df[j][i]] for j in range(9) for i in range(1,ZXDQouttestingFrequency) ]
    
    c = (
        HeatMap()
        .add_xaxis(ZXDQoutdfColumns)
        .add_yaxis("", ZXDQouttestingFrequencyStr , value,
                   label_opts=opts.LabelOpts(is_show=True, position="inside"))
        .set_global_opts(
            title_opts=opts.TitleOpts(title="钟溪大桥站出境流量与钟溪大桥巡测段总流量（m³/s）"),
            xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=-45)),
            visualmap_opts=opts.VisualMapOpts(),
        )
    )
    return c 
# heatmap_with_label_show().render("钟溪大桥heatmap_with_label_show.html")
ZXDQoutHeatmap_with_label_show().render(html + "钟溪大桥出境断面流量heatmap.html")

'C:\\Users\\workspace\\水文数据\\html\\钟溪大桥出境断面流量heatmap.html'

In [517]:
# [[j, i, df[j][i]] for j in range(5) for i in range(1,4+1)]

In [518]:
ZXDQoutdfColumns

['分水桥', '青店里桥', '周铁桥', '棉堤桥', '沙塘港桥', '葛渎桥', '师渎桥', '浯溪桥', '巡测段总流量']

# 入境53个断面水质

In [652]:
df = pd.read_excel("./data/2017宜兴水文水质资料.xls", sheet_name='入境53个断面水质', index_col=0, header=0, skiprows=0)
# df

In [653]:
# 少一个    化学需氧量（mg/L）
df.columns

Index(['样品名称', '采样日期', '水温', 'PH', '溶解氧（mg/L）', '高锰酸盐指数（mg/L）', '化学需氧量（mg/L）',
       '总磷（mg/L)', '氨氮(mg/L)', '总氮(mg/L)'],
      dtype='object')

In [654]:
# df = df.groupby(["样品名称","采样日期"]).mean()
# df

In [655]:
# dfYPMC = df[df["样品名称"]=="分水大桥"]
# dfYPMC.head()

In [656]:
df = df.groupby(["样品名称"]).mean()
# df.head()

In [657]:
dfIndex = df.index.tolist()
# dfIndex

In [658]:
dfColumns = df.columns.tolist()
dfColumns

['水温', 'PH', '溶解氧（mg/L）', '高锰酸盐指数（mg/L）', '总磷（mg/L)', '氨氮(mg/L)', '总氮(mg/L)']

In [659]:
unit = ["°C"," ","mg/L","mg/L","mg/L","mg/L","mg/L"]

In [711]:
def IncomingSectionWaterQualitytimeline_bar() -> Timeline:
#     y = Faker.choose()
    tl = Timeline()
    tl.add_schema(label_opts= opts.LabelOpts(position = "bottom",font_size = 5,),pos_left="10%",width="80%")
    for i in range(0, len(dfColumns)):
        bar = (
            Bar()
            .add_xaxis(dfIndex)
            .add_yaxis("{}".format(dfColumns[i]), df[dfColumns[i]].round(precision).tolist())
#             .add_yaxis("商家B", Faker.values())
#             .add_xaxis(days)
            .set_global_opts(title_opts=opts.TitleOpts("入境断面水质  {}\n 单位：（{}）".format(dfColumns[i], unit[i])),
                             xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(interval=0,rotate=-30,font_size=5)),
                             yaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(formatter="{value}"+ unit[i])),
#                              
#                              datazoom_opts= opts.DataZoomOpts(is_show = True,type_ = "slider", orient = "horizontal", ),
#                              grid_opts = opts.GridOpts(grid_opts=opts.GridOpts(pos_left="100",pos_right="100",
#                                                                               pos_top="100",pos_bottom="100",
#                                                                               width=100,height=100))
                            )
            .set_series_opts(textstyle_opts = opts.TextStyleOpts(color='red', font_style='italic', font_size=6,background_color = 'yellow',padding=[44,44,44,44]),
                 label_opts= opts.LabelOpts(is_show=True, position = "top", rotate = 0, font_size = 5,),
                 
                

                )
        )
        
        tl.add(bar, "{}".format(dfColumns[i],),
              )
    return tl
IncomingSectionWaterQualitytimeline_bar().render(html + "入境断面水质-桥-质.html")

'C:\\Users\\workspace\\水文数据\\html\\入境断面水质-桥-质.html'

In [602]:
["\n\n\n\n"+ele+"\n" for ele in [e for e in dfColumns[0]]]

['\n\n\n\n水\n', '\n\n\n\n温\n']

In [575]:
dfColumns[0]

'水温'

In [ ]:
"".join([ele+"\n" for ele in [e for e in dfColumns[i]]])

# [Page顺序多图](http://pyecharts.org/#/zh-cn/composite_charts?id=page%ef%bc%9a%e9%a1%ba%e5%ba%8f%e5%a4%9a%e5%9b%be)

In [528]:
# 图形放到一个页面
page = Page(layout=Page.DraggablePageLayout)
page.add(grid_mutil_yaxis(), timeline_bar(),NCRbar_base(),NCRtimeline_bar(),CDGbar_base(),
         CDGtimeline_bar(),ZXDQinHeatmap_with_label_show(),ZXDQoutHeatmap_with_label_show(),
         IncomingSectionWaterQualitytimeline_bar())
page.render("page.html")

'C:\\Users\\workspace\\水文数据\\page.html'

# [Tab选项卡多图](http://pyecharts.org/#/zh-cn/composite_charts?id=tab%ef%bc%9a%e9%80%89%e9%a1%b9%e5%8d%a1%e5%a4%9a%e5%9b%be)

In [560]:
#  图形放到一个页面，多个tab按钮
tab = Tab()
tab.add(grid_mutil_yaxis(), "南仓河 宜兴站降雨蒸发水位manths")
tab.add(timeline_bar(), "南仓河每月降水量monthsdays")
tab.add(NCRbar_base(), "南仓河 宜兴站每月平均流量months")
tab.add(NCRtimeline_bar(), "南仓河 宜兴站每月每日平均流量manthsdays")
tab.add(CDGbar_base(), "城东港 城东港桥站月平均流量months")
tab.add(CDGtimeline_bar(), "城东港桥每月平均流量monthsdays")
tab.add(ZXDQinHeatmap_with_label_show(), "钟溪大桥入境heatmap")
tab.add(ZXDQoutHeatmap_with_label_show(), "钟溪大桥出境断面流量heatmap")
tab.add(IncomingSectionWaterQualitytimeline_bar(),"入境断面水质-桥-质")

tab.render("tab.html")

'C:\\Users\\workspace\\水文数据\\tab.html'